
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {box-sizing: border-box;}

body{
  background: #F2F2F2;
  padding: 20px;
}


.zag p {
  padding-top: 15px;
  margin: 5px;
width: 371px;
height: 168px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
color: #000000;
}
.zag h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 5px;
}
.zag h2 {
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
letter-spacing: 0.03em;
color: #000000;
  margin: 5px;

}
.zag h3 {
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 48px;
letter-spacing: 0.03em;
color: #000000;
  margin: 5px;

}
.zag h4 {
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
color: #000000;
  margin: 5px;

}
.zag h5 {
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
color: #000000;
  margin: 5px;

}
.zag h6 {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #000000;
  margin: 5px;
}
.colors {
  padding:  20px;
  width: 150px;
  
  
}
.colors1{

  margin-bottom: 10px;
  
}
.colors1 p {
  margin-bottom: 10px;
  margin:0 auto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;

  text-align: center;

  color: #000000;
  
}
.green {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin:0 auto;
  background: #19B7BB;
}
.green-gradient {
  border-radius: 50%;
  margin:0 auto;
  width: 80px;
  height: 80px;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
}
.gray-1 {
  border-radius: 50%;
  margin:0 auto;
  width: 80px;
  height: 80px;
  background: #BCBCC7;
}
.gray-2 {
  border-radius: 50%;
  margin:0 auto;
  width: 80px;
  height: 80px;
  background: #EAEAF3;
}
.orange-gradient {
  border-radius: 50%;
  margin:0 auto;
  width: 80px;
  height: 80px;
  background: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);
}
.black {
  border-radius: 50%;
  margin:0 auto;
  width: 80px;
  height: 80px;
  background: #252729;
}
.zag p {
  padding-top: 15px;
  margin: 5px;
width: 371px;
height: 168px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
color: #000000;
}


.form__name {
  position: relative;
  width: 552px;

}
.form__- {
  position: relative;
  width: 552px;

}
.dropdown{
  width: 552px;
  right: 20px;
  bottom: 10px;


}
.dropdown input {
  width: 100%;
  height: 56px;
  padding-left: 50px;
  border: 1px solid #EAEAF3;
  border-radius: 12px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}
.dropdown input:focus, .dropdown input:hover{
  border: 1px solid #19B7BB;
  transition: all 0.5s ease 0s;
}
.arrow svg:hover, .arrow svg:focus{
  transform: rotate(180deg);
  fill: #fff;
  transition: all 0.5s ease 0s;
}
.dropdown .button__question {
  position: absolute;
  left: 0;
  top: 0;
  margin: 16px 0 16px 17px;
  color: #BCBCC7;
  background: url(../img/input-question-icon.svg) no-repeat;
  height: 30px;
  width: 22px; 
  border: none;
  cursor: pointer;
}
.dropdown .button__question:focus, .dropdown .button__question:hover{
  color: #252729;
}
.buttonn__arrow{
  position: absolute;
  right: 0;
  top: 0;
  margin: 16px 16px 16px 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #EAEAF3;
  border-radius: 6px;
  cursor: pointer;
}
.buttonn__arrow:hover, .buttonn__arrow:focus{
  background-color: #19B7BB;
  transition: all 0.5s ease 0s;
}
.arrow {
  display: block;
  position: relative;
  z-index: 4;
  width: 100%;
}
.arrow svg{
  fill: #BCBCC7;
}
.arrow svg:hover, .arrow_con svg:focus{
  transform: rotate(180deg);
  fill: #fff;
  transition: all 0.5s ease 0s;
}


/*это для списка*/
.dropdown-child {
  width: 552px;
  position: absolute;
  top: 60px;
  display: none;
  background-color: #fff;
  border-radius: 12px;
}
.dropdown-child a {
  color: #252729;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 0 8px 16px;
  border-bottom: 1px solid #EAEAF3;
  text-decoration: none;
  display: block;
}
.dropdown-child a:hover{
  color: #BCBCC7;
  transition: all 0.5s ease 0s;
}
.dropdown-child a:last-child {
  border-bottom: 0px solid #EAEAF3;
}
.dropdown:hover .dropdown-child {
  display: block;
}





.scroll {
  background: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);
  width: 48px;
  height: 72px;
  border-radius: 100px;
  
}
.circle {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 23px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100px;
}
.circle__dot {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 2px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 100px;
}

.scroll, .circle__dot:hover{
  top: 40%;
  transition: all 0.5s ease 0s;
}

.input_name input {
  width: 100%;
  height: 56px;
  padding-left: 50px;
  border: 1px solid #EAEAF3;
  border-radius: 12px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}
.input_name input:focus, .input_name input:hover{
  border: 1px solid #19B7BB;
  transition: all 0.5s ease 0s;
}
.input_name button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 16px 0 16px 17px;
  color: #BCBCC7;
  background: url(../img/input-user-icon.svg) no-repeat;
  height: 22px;
  width: 22px; 
  border: none;
  cursor: pointer;
}
.input_name button:focus, .input_name button:hover{
  color: #252729;
}
.botom{
  padding: 20px;
}
.bottom{
  padding: 0 0 16px 0;
}
.dropdown{
  width: 552px;
  height: 56px;
}
.lang {
  width: 552px;
  height: 56px;

  border: 1px solid #EAEAF3;
  border-radius: 12px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}
.lang1 {
  width: 100%;
  height: 204px;
  border: 1px solid #EAEAF3;
  border-radius: 12px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300; 
}
.lang1 li{
  padding: 0px 8px 0px 8px;
  border-top:  1px solid transparent;
  border-right:  1px solid transparent;
  border-left:  1px solid transparent;
  border-bottom: 1px solid #EAEAF3;

}

.dropdown div:focus, .dropdown li:hover{
  border: 1px solid #19B7BB;

  transition: all 0.5s ease 0s;
}
a:hover {
  text-decoration: none;

  color: #252729;
}
.dropdown-menu a{
  text-decoration: none;
}
.lang1 li:last-child{
  border-bottom: 0px;
}

.lang2{
  margin: 8px 0;  
}
.bt{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  text-align: top;
  position: absolute;
  width: 158px;
  height: 56px;
  left: 151px;
  top: 1620px;


}

.spas{
  position: static;
  width: 94px;
  height: 24px;
  left: 32px;
  top: 16px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;


  color: #FFFFFF;




}
.dropdown-child a:hover{
  color: #BCBCC7;
  border-bottom: 1px solid #19B7BB;
  transition: all 0.5s ease 0s;
}

.teleg{

  position: absolute;
width: 264px;
height: 48px;
left: 351px;
top: 1620px;

/* white */

background: #FFFFFF;
/* lighGrey_2 */

border: 1px solid #EAEAF3;
box-sizing: border-box;
/* btnShadow */

box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
border-radius: 12px;

}
.telegimage{
  position: fixed;
  width: 20px;
  height: 20px;
  left: 55px;
  top: 690px;


}
.telegt{
 font-family: Ubuntu;
 font-style: normal;
 font-weight: 300;
 font-size: 18px;
 line-height: 24px;

 /* black */

 color: #252729
}
.bt{
  /* bestGradient */
  border: none;
  background: linear-gradient(267.71deg, #1ACACE 0%, #19B7BB 100%);
  border-radius: 12px;
}

.lang {
width: 160px;
height: 40px;
left:100b%;


  border: 1px solid #EAEAF3;
  border-radius: 25px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}
 .lang{
 text-align: left;  
 position: absolute;
  padding-left: 50px;}
.lang1 {
  width: 122px;
  height: 140px;
  border: 1px solid #EAEAF3;
  border-radius: 25px;
  outline: none;
  background: #FFFFFF;
  font-family: Ubuntu;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300; 
}


a:hover {
   color: #BCBCC7;
  transition: all 0.5s ease 0s
}
.dropdown-menu a{
  text-decoration: none;

}
.lang1 li:last-child{
  border-bottom: 0px;
}

.lang2{
  margin: 5px 0;

}

.inst {
  width: 40px;
  height: 40px;
  margin-top: 50%;
  background-color: #fff;
  border-radius: 100px;
  display: block;
  position: relative;
  cursor: pointer;
}
.inst svg{
  position: absolute;
  margin: 10px;
  z-index: 100;
  fill: #19B7BB;
}
.inst:hover{
  background-color: #19B7BB;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
  transition: all 0.5s ease 0s;
}
.inst:hover.inst svg{
  fill: #fff;
  transition: all 0.5s ease 0s;
}

.inst:focus{
  background-color: #19B7BB;
  box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease 0s;
}
.inst:focus.inst svg{
  fill: #fff;
  transition: all 0.5s ease 0s;
}
.scroll {
  background: linear-gradient(180deg, #F7D479 0%, #EBBD46 100%);
  width: 48px;
  height: 72px;
  border-radius: 100px;
  
}
.circle {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 23px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 100px;
}
.circle__dot {
  position: relative;
  top: 23%;
  margin: 0 auto;
  text-align: center;
  width: 2px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 100px;
}

.scroll, .circle__dot:hover{
  top: 40%;
  transition: all 0.5s ease 0s;
}
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,500");

* {
  box-sizing: border-box;
}


